h1 {
}

.weather-app-wrapper {
  margin: 60px auto;
}

.weather-app {
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  max-width: 600px;
  background: #ffffff;
}

body {
  background-color: #e3e8f8;
}

span.temperature {
  color: #212121;
  margin-left: 10px;
  font-weight: 500;
  font-size: 80px;
  line-height: 1;
}

span.unit {
  color: #212121;
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: 10px;
}

.btn-primary {
  color: #fff;
  background-color: #9aaef3;
  border-color: #9aaef3;
}

.btn-primary :hover {
  background-color: #8099f5;
  border-color: #8099f5;
}

.weather-app ul {
  padding: 0;
  margin: 0;
}

.weather-app li {
  margin-bottom: 5px;
  color: rgba(25, 21, 43, 0.4);
  font-size: 16px;
  line-height: 20px;
  list-style: none;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.copyright {
  font-size: 15px;
  color: rgba(25, 21, 43, 0.4);
}

img {
  padding: 15px;
}

li {
  text-transform: capitalize;
}
